
body {
	background-color: #99a8b2; 
	color: black;
	font-family: 'Cinzel', serif;
}
a {
	text-decoration: none;
	color: pink;
}
p  {
	text-justify: center;
}
h1 {
	color: pink;
	font-size: 38px;
	font-weight: bolder;
}
h2 {
	color: pink;
	font-size: 24px;
	letter-spacing: 30px
}
a:hover {
	color: blue;
}
